*{
    margin: auto;
    padding: 0
}
body {
    color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 10px 50px 10px 10px;
}
header {
    background-image: url(../Assets/Images/BackGround-Img.webp);
    padding: 30px 40px;
    width: 100%;
    border-radius: 15px 50px 30px 5px;
}
header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin: 0%;
    display: inline;
}
header a {
    text-decoration: none;
    color: darkcyan;
    text-shadow: 1px 1px 2px grey; 
}
header nav {
    float: right;
    margin: 5px;
}
header nav ul li {
    display: inline;
}
header nav ul li a:hover {
    margin: 0 30px;
    display: inline-flex;
    font-weight: lighter;
}
img {
    width: 15%;
    float: right;
    position: relative;
    justify-content: center;
    align-items: center;
}
.Bio{
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid darkslategray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Bio p {
    font-size: 12px;
    line-height: 1;
    margin: 2%;
}
.section-title h2 {
    font-weight: bolder;
}
section {
    padding: 60px;
    background-size: cover;
    background-position: center;
}
address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px;
    line-height: 1;
    font-size: 15px;
    text-align: right center;
}
footer {
    background-image: url(../Assets/Images/BackGround-Img.webp);
    width: 100%;
    padding: 40px 35px;
    text-align: right;
    border-radius: 15px 50px 30px 5px;
    margin-top: 50px;
}
