*{
    margin: auto;
    padding: 0
}
body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgray;
}
header {
    width: 100%;
    padding: 30px 40px;
    background-color: grey;
}
header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin: 0%;
    display: inline;
}
header a {
    text-decoration: none;
    color: black;
}
header nav {
    float: right;
    margin: 5px;
}
header nav ul li {
    font-size: 15px;
}
header nav ul li a {
    margin: 0 30px;
    display: inline-flex;
    font-weight: lighter;
}
.section-title h3 {
    color: darkgray;
    font-size: 32px;
  }
footer {
    background-color: grey;
    width: 100%;
    padding: 40px 35px;
}
