*{
    margin: auto;
    padding: 0
}
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}
header {
    background-image: url(../Assets/Images/BackGround-Img.webp);
    padding: 30px 40px;
    width: 100%;
    border-radius: 15px 50px 30px 5px;
}
header h1 {
    font-weight: bolder;
    font-size: 40px;
    color: white;
    margin: 0%;
    display: inline;
}
header a {
    text-decoration: none;
    color: darkcyan;
    text-shadow: 1px 1px 2px grey; 
}
header nav {
    float: right;
    margin: 5px;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    display: inline-flex;
    font-weight: lighter;
}
.section-title {
    color: black;
    font-size: 15px;
}
img {
    display: flex;
    justify-content: right;
}
.bio p {
    text-align: right;
}
.projects h2 {
    font-size: 20px;
    font-style: bold;
}

.section-title p{
    text-align: center;
}
.address {
    text-align: center;
}
address {
    margin: 20px 0;
    line-height: 1;
    font-size: 12px;
    text-align: center;
}
footer {
    background-color: darkcyan;
    width: 100%;
    padding: 40px 35px;
    text-align: right;
    border-radius: 15px 50px 30px 5px;
}
